`
    <html>
      <head>
        <title>Add-student</title>
      </head>
      <body>
        <form action="/student" method="post">
          <label for="imie">Imie:</label><br>
          <input type="text" id="imie" name="imie"><br>
          <label for="nazwisko">Nazwisko:</label><br>
          <input type="text" id="nazwisko" name="nazwisko"><br>
          <label for="kierunek">Kierunek:</label><br>
          <input type="text" id="kierunek" name="kierunek"><br><br>
          <button type="submit">Dodaj</button>
        </form>
      </body>
    </html>
  `